.error {
  background: red;
  margin: 3px;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  padding: 10px;
}
.warning {
  background: yellow;
  margin: 3px;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  padding: 10px;
}
.info {
  background: green;
  margin: 3px;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  padding: 10px;
}
